.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
myenv/
.env
.env.*
!.env.example
.idea/
.vscode/
tmp/
**/src/outputs/
**/data/web-Google.txt
**/data/facebook/
*.zip
*.tar.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.xdv
**/results/*.html
